/*
        DefaultMobile 	LastModified	2012-02-29 11:14:00Z
*/

#QuizQuestion_Body_Feedback{}
#QuizQuestion_Body_Feedback.correct{color:#0069aa;padding:4px;margin:4px;}
#QuizQuestion_Body_Feedback.wrong{color:#666666;padding:4px;margin:4px;background-color:#bbbbbb;}
#QuizQuestion_Choices_Content{float:left;width:250px;}
#QuizQuestion_MultipleChoiceOneAnswer_Element{padding-top:5px;}
#QuizQuestion_MultipleChoiceOneAnswer_Element input {float:left;}
#QuizQuestion_MultipleChoiceOneAnswer_Element label {padding-left:5px;float:left;width:220px;}
#LinkBulletinCode_Button_Element{float:left;}

.viewPort {
                border-bottom:6px solid #0069aa;
                background-image: url('http://training.wecomply.com/images/golden_rule.gif');
                background-repeat: no-repeat;
                background-position: center top;
                width:320px;
                margin-left:auto;
                margin-right:auto;
                padding:0px;
                overflow:hidden;
}

.chapterLogoLayout {
	text-align:center;
}

.textAreaAnswerText {
                 width: 280px;
                 height: 72px;
}

.certificatePrintLink {
	text-align: center;
	font-size: 75%;
	padding-top: 12px;
	padding-bottom: 0px;
}

.certificateOuterBox {
                margin-top: 7px;
                width:264px;
                background-color: white;
                margin-left:auto;
                margin-right:auto;
                border: 8px solid #999999; 
                border-radius: 10px;
                margin-bottom: 16px;
                -webkit-box-shadow: 0px 2px 2px #888;
}

.certificateInnerBox {
                border: 1px solid black; 
                -webkit-box-shadow: 2px 2px 2px #888 inset;
                padding-top: 0px;
padding-bottom: 12px;
}

.certificateHeader {
	color: black;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 12px;
}

.certificateText {
	color: black;
	text-align: center;
	font-size: 90%;
	margin-top: 10px;
	margin-bottom: 0px;
}

.certificateStudentName {
	color: #0069aa;
	font-size: 150%;
	font-weight: bold;
}

.certificateProgramName {
	text-align: center;
	color: #0069aa;
	font-size: 115%;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.certificateLogo {
	margin-left:auto;
                 margin-right:auto;
                 width:260px;
                 text-align: center;
                 margin-top: 10px;
	margin-bottom: 10px;
}

.certificateCompanyName {
	font-weight: bold;
}

.certificateCompanyInfo {
	text-align: center;
	color: black;
	font-size: 90%;
	margin-top: 2px;
	margin-bottom: 10px;
}

.certificateCompanyURL {
	color: black;
	font-weight: normal;
}

.certificateInstruction
{
	text-align: center;
	color: black;
	font-size: 7pt;
	font-weight: normal;
	padding-top: 10px;
	margin-bottom: 10px;
}

.certificateOfflineForm {
	border: solid 1px black;
	text-align: center;
	color: black;
	padding-top: 10px;
	margin-bottom: 10px;
	width: 60%;
 }

 .certificateOfflineFormInstruction {
 	font-size: 8pt;
	padding: 6px;
 }

 .certificateOfflineFormUsername {
	vertical-align:middle;
 	font-size: 90%;
	font-weight: bold;
	padding-top: 6px;
 }
 
.certificateOfflineFormPassword {
	vertical-align:middle;
 	font-size: 90%;
	font-weight: bold;
	padding: 6px;
 }

.certificateOfflineFormLink
 {
 }

.bulletinVideoLayout {
                text-align: center;
                margin-top: 10px;
                margin-left: auto;
                margin-right: auto;
}

.quizLayout {
                line-height: 150%;
                padding: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
}

.questionBody {
               line-height: 150%;
                margin-bottom: 8px;
               margin-top: 8px;
}

.answerBody {
	margin: 0px;
}

.videoTranscript {
	font-size: 8pt;
}

.firstSelectedAnswer
{
	font-weight:bold;
}

.quizFeedback {
	color: black;
	margin-top: 10px;
	margin-bottom: 16px;
                 text-align: left;
                 font-weight: normal;
}

.tryAgainText {
	margin-top : 12px;
	font-style : italic;
                 text-align: center;
}

.agreeText
{
        text-align: center;
	margin-top: 20px;
        margin-bottom: 4px;
        font-size: 120%;
	font-weight: bold;
	color: #3d5f82;
}

.disagreeText
{
        text-align: center;
	margin-top: 20px;
        margin-bottom: 4px;
        font-size: 120%;
	font-weight: bold;
	color: maroon;
}

.finalAgreeText
{
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	color: maroon;
}

.finalDisagreeText
{
	font-weight: bold;
}

.gameChoiceOuterBox {
                margin-top: 16px;
                width:264px;
                background-color: white;
                margin-left:auto;
                margin-right:auto;
                border: 8px solid #999999; 
                border-radius: 10px;
                margin-bottom: 16px;
                -webkit-box-shadow: 0px 4px 2px #888;
}

.gameChoiceInnerBox {
                border: 1px solid black; 
                -webkit-box-shadow: 2px 2px 2px #888 inset;
                padding-top: 0px;
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 12px;
}


.gameChoiceItem {
                color:maroon
}

.gameChoiceItemTitle {
                font-weight: bold
}

body, blockquote {
                margin: 0;
                padding: 0;
                color: black;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 90%;
                -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
                margin-top: 1em;
                margin-bottom: 0.7em;
                font-size: 1.2em;
}

h1, h3 {
                color: #3d5f82;
}

h2 {
                color: maroon;
}

p, ul {
                line-height: 150%;
                margin-top: 0.7em;
                margin-bottom: 0.87em;
}

a {
                color: #0069aa;
                text-decoration: none;
}

img {
                border: none;
}

ul {
                list-style-type: disc;
                color: #000;
}

ol, ul {
	padding-top: 4px;
	margin-left: 24px;
	margin-right: 1em;
	padding-left: 6px; 
	margin-bottom: 6px;
}

li {
                padding-bottom: 12px;
}

hr {
                background-color: #9a9a9a;
                border: 0;
                clear: both;
                height: 1px;
                margin-top: 10pt;
                margin-bottom: 10pt;
}

td {
                padding: 0;
                margin: 0;
                vertical-align: top;
}

.loadingMessage {
                margin-top: 76px;
                color: #3d5f82;
                font-weight: 600;
}

.clear {
                clear: both;
}

.bookmarkSelectionBox {
                width:240px;
                background-color: white;
                margin-left:auto;
                margin-right:auto;
                border: 9px solid #999999; 
                border-radius: 10px;
                margin-bottom: 30px;
                -webkit-box-shadow: 0px 4px 2px #888;
}

.bookmarkSelectionInnerBox {
                border: 1px solid black; 
                -webkit-box-shadow: 2px 2px 2px #888 inset;
                padding: 12px;
}


.popHeading {
                font-size: 120%;
                color: #3d5f82;
                font-weight: 600;
                margin-left: 0px;
                margin-top: 16px;
}

.quizLayout {
                line-height: 150%;
}

.quizIllustration {
               text-align:center;
               max-width:280px;
               margin-bottom:12px;
}

.memorandumLayout {
                 width: 320px;
                 color: black;
}

.memorandumTitleLayout {
}

.memorandumTitleText {
	text-align: center;
	color: black;
        font-size: 110%;
	font-weight: 600;
        padding-bottom: 12px;
        margin-top: 16px;
}

.memorandumHeaderLayout {
         font-size: 70%;
}

.memorandumHeaderTable
{
	margin-left: 8px;
}
.memorandumHeaderLabelTableCell
{
	padding: 3px;
	text-align: right;
}
.memorandumHeaderTableCell
{
	padding: 2px;
}
.memorandumToLabelText
{
}
.memorandumNameText
{
	font-weight: bold;
}
.memorandumDateLabelText
{
}
.memorandumDateText
{
}
.memorandumReLabelText
{
}
.memorandumReText
{
}
.memorandumProgramNameText
{
	font-weight: bold;
}
.memorandumDividerLayout
{
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #cccccc;
}
.memorandumDividerText
{
}
.memorandumDiscussionLayout
{
	margin: 12px;
}
.memorandumDiscussionText
{
                 margin-bottom: 24px;
}
.memorandumIllustrationLayout
{
}
.memorandumIllustration
{
	margin: 12px;
}
.memorandumIllustrationImage
{
}
.memorandumIllustrationCaption
{
	font-size: 8pt;
}
.memorandumVideoLayout
{
	margin-left: 16px;
                margin-top: 16px;
                margin-bottom: 16px;
	float : right;
}
.memorandumVideo
{
	text-align: center;
	margin-bottom: 3px;
}
.memorandumVideoCaption
{
	margin-top : 8px;
	text-align : center;
	font-size: 70%;
}


.chapterPagination {
                background-image: url('http://training.wecomply.com/images/mobile_pagination.gif');
                text-align: center;
}

.previous {
                height: 42px;
                margin-top: 4px;
}

.next {
                height: 42px;
                margin-top: 4px;
}

.chapterNavigationText
{
                  margin-left:auto;
	margin-right:auto;
	color: #666666;
	font-size: x-small;
}

.navigationImg
{
	margin-top: 5px;
                 margin-left: 34px;
	margin-right: 34px;
                 vertical-align: middle;
}

.chapterLogoStandalone
{
	text-align: center;
                 clear: both;
	margin: 16px;
}

.chapterCopyrightLayout
{
	clear: both;
	text-align: center;
	margin: 16px;
}
.chapterCopyrightText
{
	font-family: Arial, Helvetica;
	font-size: xx-small;
                 color: gray;
}

.chapterMainLayout {
                 margin-top: 20px;
}

.chapterHeading {
	text-align: center;
	font-family: garamond,palatino,serif;
	color: maroon;
	font-size: 150%;
                 margin-bottom: 12px;
}

.chapterDiscussionText {
                 margin: 12px;
                 margin-bottom: 24px;
}

.linkBulletinLayout {
                background-image: url('http://training.wecomply.com/images/bulletin_bkgd.gif');
                background-repeat: no-repeat;
                background-position: center top;
                text-align: center;
                width:320px;
                height: 42px;
                margin: 0px;
                padding: 0px;
                font-style: italic;
                font-weight: bold;
                color: white;
}

.newsLayout {
                margin-left: 0px;
                width: 313px;
                background-image: url('http://training.wecomply.com/images/news_clip2.gif');
                height: 59px;
                margin-top: 10px;
                background-repeat: no-repeat;
                background-position: center top;
}

.bulletinHeaderText {
                padding-top: 12px;
                margin-bottom: 1px;
                text-align: center;
                font-family: times;
                font-size: 120%;
                font-weight: bold;
}

.bulletinSubheadText {
                text-align: center;
                font-family: times;
                font-size: 75%;
                font-style: italic;
}
           
.continueButtonContainer {
        text-align: center;
        width:100%;
        margin-top:22px;
}


.closeButton {
                background-image: url('http://training.wecomply.com/images/orange_button.gif');
                background-repeat: no-repeat;
                background-position: center top;
                height: 33px;
                width: 118px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-weight: 600;
                padding-top: 7px;
                margin-bottom: 10px;
}

.tryAgainButton {
                background-image: url('http://training.wecomply.com/images/orange_button_2.gif');
                background-repeat: no-repeat;
                background-position: center top;
                height: 33px;
                width: 148px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-weight: 600;
                padding-top: 7px;
                margin-bottom: 10px;
}


.chapterSurveyLayout {
        width: 296px;	
	margin-right: auto;
	margin-left: auto;
	text-align:left;
        padding-left: 2px;
        padding-right: 10px;
}

.surveyNotAnswered
{
	color:maroon;
	font-weight:bold;
	margin-bottom:30px;
}
.surveyNotAnsweredIndicator
{
	color:maroon;
	font-size:14pt;
	font-weight:bold;
	margin-right:10pt;
}
.pivotQuestionLayout
{
}
.pivotQuestionText
{
}
.pivotAnswerText
{
}
.surveyQuestionSetLayout
{
}
.surveyQuestionLayout
{
	margin-top:20px;
}
.surveyQuestionText
{
}
.singleAnswerText
{
}
.multipleAnswerText
{
}
.booleanAnswerText
{
}
.textLineAnswerText
{
}
.acknowledgmentLayout {
                 margin: 12px;
                 margin-bottom: 24px;
}




.chapterWideMainLayout
{ 
                 background-image: url('http://training.wecomply.com/images/wood_top.jpg');
                background-repeat: no-repeat;
                background-position: center top;
               margin-top: 0px;
                padding-top: 0px;
                width: 320px;
}

.memorandumAudioDivLayout {
                 height:20px;
                 float: right;
                 width:20px;
                 margin: 16px;
}

.chapterAudioDivLayout {
                 height:20px;
                 float: right;
                 width:20px;
                 margin-top: -2px;
                 margin-right: 8px;
}

.audioButton
{
                 padding-right:5px;
                 margin-top: 0px;
}

.chapterWideVideoLayout
{
                background-color: #0e4428;
}

.chapterWideVideo
{
	margin-left: 35px;
                margin-right: auto;
                text-align: center;
	padding-top: 1px;
	padding-bottom: 16px;
}

.chapterWideVideoCaption
{
	margin-top : 20px;
	text-align : center;
	font-size: x-small;
                color: white;
}

.chapterWideDiscussionLayout
{
                background-color: #0e4428;
	padding-top:0px;
                 margin-left: 0px;
	padding-bottom: 20px;
                 margin-bottom: 0px;
                 text-align: left;
                width: 280px;
                padding-left: 20px;
                padding-right: 20px;
                color: white;
                margin-top: 0px;
}

.chapterWideHeaderLayout
{
                background-image: url('http://training.wecomply.com/images/wood_top.jpg');
                background-repeat: no-repeat;
                background-position: center top;
                background-color: #0e4428;
                padding: 0px;
                margin: 0px;
                text-align: center;
}

.chapterWideHeadingLayout
{
               clear: both;
 padding-top:10px;
                margin-top: 24px;
}

.chapterWideHeading
{
                padding-top: 0;
                margin-top: 0
                text-align: center;
                font-family: times new roman, times;
	color: yellow;
                font-size: 18pt;
                font-weight: 600;
}

.chapterWideNavigationLayout
{
                height: 63px;
                width: 320px;
                background-image: url('http://training.wecomply.com/images/bottom_refresher.gif');
                background-repeat: no-repeat;
                padding-top: 21px;
                padding-bottom: 0px;
                margin-bottom: 0px;
 }

a:active
{
	color: gray;
}

a:visited
{
	color: navy;
}

table
{
	//font-size: 2;
}
 
.chapterLogo
{
}
.docLinkImage
{
	text-align: center;
	margin: 10px;
	border: none;
	vertical-align: middle;
}
.chapterDivLayoutMemorandum
{
                 width: 320px;
}


.chapterDivLayoutWide
{
                 width: 150px;
}
.chapterDivLayoutStandard
{
}







.smallText
{
	color: black; 
	font-size: 8pt; 
}

.bulletinBody {
        margin: 0px;
        padding: 0px;
}

.bulletinText {
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
}

.bulletinIllustrationImage
{
	margin-top: -11px;
	margin-bottom: 5px;
	margin-left: -7px;
}

.popQuestionLayout {
                line-height: 150%;
                margin: 16px;
}

.popQuizIllustrationImage {
                margin-top: 8px;
}

.popQuestionIllustration
{
}

.popQuestionQuestion
{
}

.popQuestionFeedback
{
}

.termBody
{
/*	overflow: auto;*/
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.termText
{
	margin-top: 12px;
	margin-bottom: 12px;
}

.gamePageLayout
{
	width: 100%;
	text-align: center;
	color: black;
	font-size: 14pt;
	font-weight: bold;
	font-style:italic;
	margin-top: 20px;
}
.mazeIntroduction
{
	font-size: 10pt;
}
.gameTitle {
                font-size: 130%;
                color: maroon;
                margin-bottom: 12px;
                margin-top: 12px;
                font-weight: bold;
}

.ceoIntroduction {
                line-height: 150%;
                font-size: 90%;
                margin-bottom: 12px;
}

}
.hopIntroduction
{
	font-size: 10pt;
}
.boardIntroduction
{
	font-size: 10pt;
}
}
.chapterHeaderLayout
{
}
.chapterFooterLayout
{
	height:100%;
}
.chapterFooter
{
	float: right;
/*	height:100%;*/
	vertical-align:middle;
}
.footerText
{
	margin: 4px;
	font-size: xx-small;
	text-align: right;
/*	height:100%;*/
}
.chapterColumn1Layout
{
	width: 240px;
	float: left;
}
.chapterColumn2Layout
{
	margin-left: 270px;
                margin-top:12px;
/*	float: right;*/
/*	overflow: auto;*/
}
.chapterHeadingLayout
{
	text-align: right;
}
.headingContinuedText
{
	font-size:14pt;	/* 4pt smaller than headingText */
}
.chapterIllustrationLayout
{
	text-align: center;
}
.chapterIllustration
{
	margin-top: 18px;
	margin-bottom: 18px;
}
.chapterIllustrationImage
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.chapterIllustrationCaption
{
	font-size: 8pt;
}
.chapterLinkBulletinLayout
{
	text-align: center;
}
.chapterMultimediaControls
{	
}
.multimediaControls
{
	margin:10px;
}
.highlightButton
{
}
.noHighlight
{
}
.highlight
{	
 background-color: Yellow;
}
.chapterVideoLayout
{
	margin-left: 4px;
             //   margin-bottom:12px;
	// float : right;
}
.chapterVideo
{
	text-align: center;
	margin-bottom: 20px;
}
.chapterVideoCaption
{
	margin-top : 8px;
	text-align : center;
	font-size: 10pt;
}
}
.flashLayout
{
	text-align : center;
	margin-left : 10px;
	margin-right : 10px;
	margin-bottom : 24px;
	margin-top : 8px;
}
.questionFeedback
{
	text-align : left;

}
.lipSyncTranscript
{
	font-size: 8pt;
}
.lipSyncTranscript TD
{
	font-size: 8pt;
}
.videoTranscript
{
	font-size: 8pt;
}
.printBulletin
{
}
.offlineTocListLayout
{
	margin-left:20%;
	padding:18pt;
}
.offlineTocProgramNameLayout
{
	margin-left:17%;
	padding:18pt;
}
.offlineTocProgramName
{
	font-family: "Times New Roman";
	font-size: 20pt;
	color: maroon;
	padding-bottom: 20px;
	float:left;
}
.offlineTocChapterLayout
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	clear:left;
}
.offlineTocChapterText
{
	font-family: "Times New Roman";
	font-size: 16pt;
}
.offlineTocQuizLayout
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	clear:left;
}
.offlineTocQuizText
{
	font-family: "Times New Roman";
	font-size: 16pt;
}
.offlineTocLink
{
}
.offlineChapterLogoLayout
{
	padding-top:20pt;
}
.offlineChapterCopyrightLayout
{
	width: 100%;
	text-align:center;
}
.offlineChapterDividerText
{
	width:80%;
	height:2pt;
	background-color:Blue;
}
.offlineTermLinkText
{
}
.offlineBulletinHeaderText
{
	font-size: 12pt;
	font-weight: bold;
}
.offlineBulletinLinkText
{
}
.offlinePrintButton
{
	float:right;
}
.offlinePopQuestionHeaderLayout
{
	margin-top:24pt;
	margin-bottom:10pt;
}
.offlinePopQuestionHeaderText
{
	color: #cccccc;
	font-weight: bold;
}
.offlinePopQuestionLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlinePopQuestionText
{
}
.offlinePopQuestionAnswerLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlinePopQuizHeaderLayout
{
	margin-top:24pt;
	margin-bottom:10pt;
}
.offlinePopQuizHeaderText
{
	color: #cccccc;
	font-weight: bold;
}
.offlinePopQuizQuestionLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlinePopQuizQuestionAnswerLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlineQuizHeaderLayout
{
	margin-top:24pt;
	margin-bottom:10pt;
}
.offlineQuizHeaderText
{
	color: #cccccc;
	font-weight: bold;
}
.offineQuestionPreface
{
	font-weight: bold;
}
.offlineQuizQuestionLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlineQuizQuestionAnswerLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlineFinalQuizQuestionLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlineFinalQuizQuestionAnswerLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlineChoice
{
	text-indent: 10pt;
}
.offlineFeedback
{
	text-indent: 10pt;
}
.offlineCorrectAnswer
{
	font-family: "courier new";
	font-size: 10pt;
	font-weight: bold;
	color: #40ff40;
}
.offlineIncorrectAnswer
{
	font-family: "courier new";
	font-size: 10pt;
	color: #ff4040;
}
.offlineAnswerText
{
	padding-bottom:16px;
}
.offlineAnswerContinue
{
	padding:16px;
}
.offlinePostChapterLayout
{
}
.offlineBulletinLayout
{
	padding:8px;
	width:365px;
	border:solid 1px black;
}
.offlineBulletinText
{
}
.offlineBulletinBodyText
{
}
.offlineTermLayout
{
	padding-left:10px;
	padding-right:10px;
	width:365px;
	border:solid 1px black;
}
.offlineTermText
{
}
.offlineTermImage
{
}
.superScript
{
	margin-left:-4pt;
	font-size:8pt;
	vertical-align:text-top;
}
.WarningContainer
{
	border:solid 2px black;
	margin: 40px;
	background-color: #c0c0c0;
}
.WarningTextLayout
{
	padding:24pt;
}
.WarningText
{
	text-align: center;
	font-weight: bold;
	color: Blue;
}
.WarningButtonLayout
{
	padding:24pt;
}
.WarningButton
{
	color:Black;
	background-color: #c0c0c0;
	padding-left:8pt;
	padding-right:8pt;
}
.pithyQuoteLayout
{
                margin-left: 16px;
	margin-right: 28px;
	margin-top: 26px;
}
.pithyQuote
{
}
.pithyQuoteText
{
    color: gray;
    font-size: 9pt;
    font-family: arial black, helvetica;
}
.pithyQuoteRule
{
	clear:both;
	height:3px;
	color:Maroon;
	width:90%;
}
.keywordLayout
{
	float:left;
	margin-top: 24px;
	margin-left: 24px;
	margin-bottom: 40px;
	text-align: left;
}
.keyword
{
}
.keywordText
{
	font-family:Haettenschweiler;
	font-size:140pt;
	font-weight:lighter;
	color:#F0B363;
}
.linkSpacer
{
	padding:0px 0px 0px 20px;
}
@media print
{
	.chapterWideHeadingLayout
	{
		text-align: center;
	}
	.chapterHeadingLayout
	{
		text-align: center;
	}
	/* for printing, put chapters into one column format */
	.chapterMainLayout
	{
		margin: 8px;
		width: 100%;
	}
	.chapterColumn1Layout
	{
		width: 100%;
		float: none;
	}
	.chapterColumn2Layout
	{
		margin: 8pt;
		width: 100%;
	}
	.offlinePopQuestionLayout
	{
		width:100%;
		border:none;
	}
	.offlinePopQuestionAnswerLayout
	{
		width:100%;
		border:none;
	}
	.offlinePopQuizQuestionLayout
	{
		width:100%;
		border:none;
	}
	.offlinePopQuizQuestionAnswerLayout
	{
		width:100%;
		border:none;
	}
	.offlineQuizHeaderLayout
	{
		margin-top:24pt;
		margin-bottom:0pt;
	}
	.offlineQuizQuestionLayout
	{
		width:100%;
		border:none;
	}
	.offlineQuizQuestionAnswerLayout
	{
		width:100%;
		border:none;
	}
	.offlineAnswerText
	{
		padding-bottom:12px;
	}
	.offlineAnswerContinue
	{
		padding:0px;
	}
	.offlineFinalQuizQuestionLayout
	{
		width:100%;
		border:none;
	}
	.offlineFinalQuizQuestionAnswerLayout
	{
		width:100%;
		border:none;
	}
	.offlineBulletinLayout
	{
		width:100%;
		border:none;
	}
	.offlineTermLayout
	{
		width:100%;
		border:none;
	}
}


.mediaBulletsList {
  color:#000000;
 /* list-style-position: inside;*/
}

.mediaBulletsList li.active {
  /*font-size: 1.35em;*/
color:blue;
}

.mediaBulletsList li.hidden{
  visibility: hidden;opacity: 0;
}

.mediaBullet {
     -moz-transition: font-size 2s ease-in-out, opacity 2s ease-in-out;
     -webkit-transition: font-size 2s ease-in-out, opacity 2s ease-in-out;
     transition: font-size 1s ease-in-out, opacity 2s ease-in-out;
     opacity: 1;
}


.mediaBulletsWrapper ul {
list-style-type:none;
}

#MatchGame_GameContainer div.solved h2 {color:#128006; }