<!--ELEMENT_START:Quiz_Wrapper-->
<div id="Quiz_Wrapper_Element" style="height: 327px;margin-left: 10px;width: 763px;">
	<div style="float:left;width:675px;" id="Quiz_GameContent">
		{$Content:quizContent}
	</div>
	<div style="float:left;">
		<img src="/wc2/static/training/ceoImages/splash_ceo.gif" style="width:88px;height:327px;" alt="" id="ceoGameOffice" name="ceoGameOffice">
	</div>
	<div class="clear"></div>
	<div id="preloadDIV" style=" width:10; display:none;">
		<img src="/wc2/static/training/ceoImages/ceo_f01.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo1.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo2.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo3.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo4.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo5.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo6.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo7.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo8.gif" width="88" height="386" border="0">
		<img src="/wc2/static/training/ceoImages/ceo9.gif" width="88" height="386" border="0">
	</div>
</div>
<!--ELEMENT_END:Quiz_Wrapper-->

<!--ELEMENT_START:Quiz-->
<div id="Quiz_Element" class="quizLayout">
	<div id="quizLeftPage" class="quizLeftPage" style="font-family: Open Sans,Arial;font-size: 14px;">
		<div id="Quiz_Illustration_Content" class="quizIllustrationCeo">{$Content:Quiz_Illustration}</div>
		<div style="overflow-y:auto;height:300px;">
			<div id="Quiz_Body_Content" class="questionBodyCeo">{$Content:Quiz_Body}</div>
			<ul style="line-height: 1.6em;width: 536px;" class="mediaBulletsList" id="Quiz_Choices_Content">
				{$Content:Quiz_Choices}
			</ul>
			<div style="margin-left: 45px;margin-top:20px;">
				<a href="javascript:void(0);" style="text-decoration:none;">
					<div id="Button_Continue" style="margin-bottom:10px;" class="closeButton_PopQuiz" onclick="wc.interface.actionHandler.game_answerQuestion();" >{$Content:ContinueResource}</div>
				</a>
			</div>
		</div>
	</div>
	<div class="quizRightPage">
		<div id="Quiz_Body_Feedback_Container" style="display:none;" class="Quiz_Body_Feedback_Container">
			<div class="agreeText" id="Quiz_Body_Feedback_AgreeText" style="display:none;"></div>
			<div id="Quiz_Body_Feedback">
				<div id="Quiz_Body_Feedback_Text" class="quizFeedback"></div>
				<!--<div class="tryAgainButton" id="Quiz_Body_Feedback_TryAgain" onclick="wc.interface.actionHandler.game_closeFeedbackElement();"></div> -->
				<div style="bottom: -7px;padding-left: 46px;position: absolute;">
					<a href="javascript:void(0);" style="text-decoration:none;">
						<div class="closeButton"  id="Quiz_Body_Feedback_TryAgain" onclick="wc.interface.actionHandler.game_closeFeedbackElement();"></div>
					</a>
				</div>
			</div>	
			<div id="Quiz_Body_Feedback_ContinueButton" class="continueButton_container" id="Continue" style="display: none; ">
				<div id="continueBtn" class="closeButton" onclick="wc.interface.actionHandler.game_gotoNextQuestion()" name="continueBtn">{$Content:ContinueResource}</div>
			</div>
		</div>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:Quiz-->

<!--ELEMENT_START:Quiz_ChoiceItem-->
<li style="line-height: 1.6em;color:#343434;cursor:pointer;" id="mediaBullet_{$Content:Quiz_ChoiceItem_Id}" class="mediaBullet active hidden" onclick="wc.interface.elements.quiz.selectAnswer({$Content:Quiz_ChoiceItem_Id}, {$Content:gameIndex});" > 
	<div src="/Wc2/images/training/iPadFrame/bullet-arrow-light.png" class="listBullet"></div>
	<p style="padding-left: 36px;" class="bulletContent">{$Content:Quiz_ChoiceItem_Body}</p>
</li>
<!--ELEMENT_END:Quiz_ChoiceItem-->


<!--ELEMENT_START:Quiz_Intro-->
<div style="width:500px;">
	<div class="clear" style="padding-top:4px;"></div>
		<div style="min-height: 304px;margin-left: 20px;">
			<!--<div id="loadingDIV" style="width: 300px; ">
			    	<font face="arial" size="3" color="#999999"><b><span id="spanLoading">{$Content:Game_Intro_LoadingText}</span></b></font>
			    </div>-->
			<div class="gameTitle">{$Content:Game_Intro_Name}</div>
			<div id="textDIV" style="min-height:200px;" >
				<table width="90%" id="Table1">
					<tbody><tr>
					       	<td bgcolor="#ffffff">
					       		<span id="spanWelcome"><div class="ceoIntroduction">{$Content:Game_Intro_WelcomeText}</div></span>
					       	</td>
					       </tr>
					</tbody></table>
			</div>
			<div id="buttonDIV">
				<div id="theButton" onclick="wc.interface.actionHandler.displayGame({$Content:gameIndex});" class="closeButton">{$Content:Game_Intro_StartQuizText}</div>
			</div>
		</div>
		<div id="manDIVContainer" style="width:450px;height:15px;padding-top:20px;">
			<div id="manDIV" style="position:relative;left:0px;width: 10px; height: 15px; z-index: 2;">
				<img id="ceoSplashMan" src="/wc2/static/training/ceoImages/splash_man2.gif" border="0" name="theMan" width="9" height="15" style="height:327px;">
			</div>
		</div>
</div>
<!--ELEMENT_END:Quiz_Intro-->
