<!--ELEMENT_START:Intro-->
<div id="Intro_Element">
	<div style="width:225px;height:300px;margin-left:auto;margin-right:auto;">
		<div id="tdIntroLoading" align="center" class="loadingMessage">
			{$Resource:LoadingIntro}
			<br />
			<img align="center" src="{$Value:ImagePath}loading.gif" border="0" vspace="16" alt=""/>
		</div>
		<div id="tdIntroLoading1" align="center">
		</div>
	</div>
</div>
<!--ELEMENT_END:Intro-->

<!--ELEMENT_START:Chapter-->
<div id="Chapter_Element">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Content:Chapter_Header}</div>
		<div class="clear"></div>
	</div>
	<div class="chalkboard">
		<div id="Chapter_Discussion_Content" class="chapterDiscussionText">
			{$Content:Chapter_Discussion}
			{$Content:Chapter_Survey}
			<div id="Chapter_Video_Container"></div>
		</div>
		<div id="Chapter_Discussion_MediaBulletins" class="chapterDiscussionText">
			{$Content:Chapter_MediaBulletsList}
		</div>
			<div class="chapterPagination">
		<span id="Chapter_Audio_Container" class="chapterAudioDivLayout">
			<span class="audioButton">
					<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
					<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.pauseAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</span>
		</span>
	        <span id="Chapter_Textmode_Container" class="chapterTextmodeDivLayout">
			<span class="textModeButton">
					<a id="Button_EnableBullets" style="display: none;" href="javascript:wc.interface.actionHandler.enableBullets();"><img src="{$Value:ImagePath}bullets-out.png" border="0"></a>
					<img id="image_EnableBullets" style="display: none;" src="{$Value:ImagePath}text-disab.png" border="0">
					<img id="image_DisableBullets"  src="{$Value:ImagePath}bullets-disab.png" border="0">

					<a id="Button_DisableBullets"  href="javascript:wc.interface.actionHandler.disableBullets();"><img src="{$Value:ImagePath}text-out.png" border="0"></a>
			</span>
		</span>

			<a id="Button_Previous" href="javascript:;" onClick="wc.interface.actionHandler.previousButton();"><img class="navigationImg" src="{$Value:ImagePath}previous.gif" border="0" alt="{$Resource:PreviousPage}" /></a>
			
			<a id="Button_Next" href="javascript:;" onClick="wc.interface.actionHandler.nextButton();"><img class="navigationImg" src="{$Value:ImagePath}next.gif" border="0" alt="{$Resource:Continue}" /></a>

			</div>


			<div class="chapterCopyrightLayout">
				<div class="chapterCopyrightText">Copyright © <span id="Span1" name="CopyrightYears">{$Value:CopyrightYears}</span>. All rights reserved.</div>
			</div>
	</div>
		
	<div class="corkboard">
<span id="Chapter_PageInfo_Content" class="chapterNavigationText">{$Resource:PageOf[$1:$1][$2:$2]}</span>
		<div id="Chapter_Illustration_Content" class="chapterIllustrationLayout">
			 {$Content:Chapter_Illustration}
		</div>

		<div class="chapterLinkBulletinLayout">
			{$Content:LinkBulletin_Buttons}
		</div>

		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
	</div>
</div>
<!--ELEMENT_END:Chapter-->

<!--ELEMENT_START:MemorandumChapter-->
<div id="Chapter_Element">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Value:CourseName}</div>

		<div class="clear"></div>
	</div>
	<div class="chalkboard">
<div id="MemorandumChapter_Element" class="chapterDivLayoutMemorandum">
	<div class="memorandumLayout">
		<div class="memorandumTitleLayout">
			<div class="memorandumTitleText">{$Resource:Memorandum}</div>
		</div>
		<div class="memorandumHeaderLayout">
			<table class="memorandumHeaderTable">
				<tr>
					<td class="memorandumHeaderLabelTableCell">
						 <span class="memorandumToLabelText">{$Resource:To}</span>

					</td>
					<td class="memorandumHeaderTableCell">
						<span class="memorandumNameText">
							<span id="FirstName">{$Content:firstName}</span> <span id="LastName">{$Content:lastName}</span>
						</span>
					</td>
				</tr>
				<tr>
					<td class="memorandumHeaderLabelTableCell">
						 <span class="memorandumDateLabelText">{$Resource:Date}</span>
					</td>
					<td class="memorandumHeaderTableCell">
						<span id="CurDate" class="memorandumDateText">{$Content:currentDate}</span>
					</td>
				</tr>
				<tr>
					<td class="memorandumHeaderLabelTableCell">
						 <span class="memorandumReLabelText">{$Resource:Re}</span>
					</td>
					<td class="memorandumHeaderTableCell">
						 <span class="memorandumReText">{$Resource:TrainingProgram}</span>
						<span class="memorandumProgramNameText">"{$Value:CourseName}"</span>

					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="memorandumDividerLayout">
		<div class="memorandumDividerText"></div>
	</div>
	<div class="memorandumVideoLayout">
		<div class="memorandumVideo">
			<div id="Chapter_Video_Container"></div>
		</div>
	</div>
	<div class="memorandumDiscussionLayout">
		<div class="memorandumDiscussionText">
			{$Content:MemorandumChapter_Discussion}
		</div>
	</div>
	<div class="memorandumIllustrationLayout"></div>
	<div class="memorandumFooterLayout"></div>

			<div class="chapterCopyrightLayout">
				<div class="chapterCopyrightText">Copyright © <span id="Span1" name="CopyrightYears">{$Value:CopyrightYears}</span>. All rights reserved.</div>
			</div>
			<div class="chapterPagination">
				   <a id="Button_Previous" href="javascript:;" onClick="wc.interface.actionHandler.previousButton();"><img class="navigationImg" src="{$Value:ImagePath}previous.gif" border="0" alt="{$Resource:PreviousPage}" /></a>
			
			<a id="Button_Next" href="javascript:;" onClick="wc.interface.actionHandler.nextButton();"><img class="navigationImg" src="{$Value:ImagePath}next.gif" border="0" alt="{$Resource:Continue}" /></a>

			</div>
		<div id="Chapter_Audio_Container" class="chapterAudioDivLayout">
			<div class="audioButton">
				<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
				<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</div>
		</div>
	</div>
		
	<div class="corkboard">
<span id="Chapter_PageInfo_Content" class="chapterNavigationText">{$Resource:PageOf[$1:$1][$2:$2]}</span>
			<div id="Chapter_Illustration_Content" class="chapterIllustrationLayout">
				<div class="chapterIllustration">{$Content:Chapter_Illustration}</div>
			<div>
			<div>{$Content:LinkBulletin_Buttons}</div><div class="clear"></div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>

	</div>
</div>

</div>
<!--ELEMENT_END:MemorandumChapter-->

<!--ELEMENT_START:Term-->
<div id="Term_Element">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Content:Chapter_Header}</div>
		<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
			<div class="audioButton">
				<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
				<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</div>
		</div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
		<div class="clear"></div>
	</div>
	<div class="whiteboardContainer" id="whiteboardContainer" style="overflow:hidden;">
		<div class="whiteboard" id="whiteboard" style="position:relative;">
			<div style="margin-left:auto;margin-right:auto;padding:20px;">
				<div id="Term_Definition_Content">{$Content:Term_Definition}</div>
				<div class="continueButton">
					<div id="Button_Close" class="closeButton">{$Resource:Continue}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--ELEMENT_END:Term-->

<!--ELEMENT_START:MatchGame-->
<div id="MatchGame_Element">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Content:Chapter_Header}</div>
		<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
			<div class="audioButton">
				<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
				<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</div>
		</div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
		<div class="clear"></div>
	</div>			
	<div class="whiteboardContainer" id="whiteboardContainer" style="overflow:hidden;">
		<div class="whiteboard" id="whiteboard" style="position:relative;">
			
			<div id="MatchGame_IntroductionContainer" style="margin-top:80px; margin-left:48px; margin-right:48px;">
				<div id="MatchGame_Heading" class="popHeading">{$Content:MatchGame_Heading}</div>
				<div id="MatchGame_Introduction" class="chapterDiscussionText" style="color: #000000;">{$Content:MatchGame_Introduction}</div>
				<div class="continueButtonContainer">
					<div id="MatchGame_Start" class="closeButton" onclick="wc.interface.actionHandler.matchGameContinue();">{$Resource:Continue}</div>
				</div>
			</div>

			<div id="MatchGame_GameContainer" style="display:none;">			
				{$Content:MatchGame_GameContent}			
			</div>

			<div id="MatchGame_OutroContainer" style="display:none; text-align:center; margin-top:80px; margin-left:48px; margin-right:48px;">
				<div id="MatchGame_Outro_Heading" class="popHeading">{$Content:MatchGame_Outro_Heading}</div>
				<div class="continueButtonContainer">
					<div id="MatchGame_Close" class="closeButton" onclick="wc.interface.navigateToElement(wc.interface.directions.next);">{$Resource:Continue}</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!--ELEMENT_END:MatchGame-->

<!--ELEMENT_START:MatchGameItem-->
<div id="MatchGameItem_Element_{$Content:containerIndex}" style="float: left;">
	<h2 id="MatchGameItem_Section_{$Content:sectionIndex}" style="background-color:#dddddd; border-top: 1px solid black; border-right: 1px solid black; border-left: 1px solid #000000;border-radius: 15px 15px 0px 0px;font-size:100%;margin:2px 0 0 3px;padding-top:6px; height:36px; text-align:center; line-height:100%;">{$Content:MatchGameItem_Section}</h2>
	<div class="matchGameProblemContainer" style="width:271px;height:80px; font-size: 100%;border: 1px solid black; border-radius: 0px 0px 15px 15px;;margin-left:3px; overflow: hidden;padding:6px;">
		<div id="MatchGameItem_Body_{$Content:bodyIndex}" class="matchGameProblemBody" style="width:271px;height:80px; background-color:#FFFFFF; color: #000000;overflow: hidden;">{$Content:MatchGameItem_Body}</div>		
	</div>
</div>
<!--ELEMENT_END:MatchGameItem-->

<!--ELEMENT_START:PopQuiz-->
<div id="PopQuiz_Element" class="bulletinBody">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Content:Chapter_Header}</div>
		<div id="Chapter_Audio_Container" class="chapterAudioDivLayout">
			<div class="audioButton">
					<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
					<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</div>
		</div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
		<div class="clear"></div>
	</div>
	<div class="whiteboardContainer" id="whiteboardContainer" style="overflow:hidden;">
		<div class="whiteboard" id="whiteboard" style="position:relative;">
			 <div style="margin-left:auto;margin-right:auto;padding:20px;">
			 	<div id="popQuiz_Heading"class="popHeading">{$Resource:PopQuiz}</div>
				<div id="popQuiz_AlternateHeading" class="popHeading" style="display: none">{$Content:PopQuiz_AlternateHeading}</div>
    	<div class="" id="PopQuiz_Introduction" >
    		<div class="videoIntroText">{$Content:PopQuiz_Introduction}</div>
    		<div class="continueButtonContainer">
    			<div id="PopQuiz_ContinueFromIntroduction" onclick="wc.interface.actionHandler.popQuiz_ContinueFromIntroduction({$Content:quizHasVideo});" class="closeButton">{$Resource:Continue}</div>
    		</div>
    	</div>
			 	<div style="display:none;" id="PopQuiz_Content_Container">
			 		<div id="PopQuiz_Video_Container"></div>
			 		<div id="PopQuiz_Video_Transcript" class="bulletinText" style="height:300px;overflow-y:scroll;">
			 			{$Content:PopQuiz_Video_Transcript}
						<div class="continueButtonContainer">
			 				<div id="PopQuiz_ContinueBtton" class="closeButton" onclick="wc.interface.actionHandler.popQuiz_nextQuestion();">{$Resource:Continue}</div>
			 			</div>
			 		</div>
			 		<!--<div id="PopQuiz_Illustration" class="bulletinIllustrationImage">{$Content:PopQuiz_Illustration}</div>-->
			 		
			 	</div>
				<div style="display:none;" id="PopQuiz_Question_Body" class="questionBody"></div>
			 	<div style="display:none;" id="PopQuiz_Question_Container" class="questionBody"></div>
				<div style="clear:both;"></div>
		<div id="popQuiz_Body_Feedback_Container" style="display:none;position: absolute;top: 0px;left: 0px;background-color: #FFFFFF;opacity:.95;-ms-filter: “alpha(opacity=95)”;filter: alpha(opacity=95);height: 100%;width:100%;">
			<div class="agreeText" id="popQuiz_Body_Feedback_AgreeText"></div>
			<div id="popQuiz_Body_Feedback">
				<div id="popQuiz_Body_Feedback_Text" class="quizFeedback"></div>
				<div class="tryAgainButton" id="popQuiz_Body_Feedback_TryAgain" onclick="wc.interface.actionHandler.popQuiz_closeFeedbackElement();"></div>
			</div>	
			<div id="popQuiz_Body_Feedback_ContinueButton" class="continueButton_container" id="Continue" style="display: none; ">
				<div id="popQuizContinueBtn" class="closeButton" onclick="wc.interface.actionHandler.popQuiz_nextQuestion(0)" name="continueBtn">{$Content:ContinueResource}</div>
			</div>
		</div>
	<div class="clear"></div>
    </div>
		</div>
	</div>
</div>
<!--ELEMENT_END:PopQuiz-->
		
<!--ELEMENT_START:PopQuiz_Question-->
<div id="PopQuiz_Question{$Content:questionIndex}">
	<input style="float:left;" type="radio" onclick="wc.interface.actionHandler.popQuiz_answerSelected({$Content:answerIndex}, {$Content:questionIndex});" name="popQuiz_{$Content:questionIndex}" id="popQuiz_{$Content:questionIndex}_{$Content:answerIndex}" />
	<label style="padding-left: 5px;float: left;width: 420px;" for="popQuiz_{$Content:questionIndex}_{$Content:answerIndex}">{$Content:popQuiz_questionBody}</label>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:PopQuiz_Question-->

<!--ELEMENT_START:LinkBulletin-->
<div id="LinkBulletin_Element" class="bulletinBody">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Content:Chapter_Header}</div>
		<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
			<div class="audioButton">
					<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
					<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</div>
		</div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
		<div class="clear"></div>
	</div>		
	<div class="whiteboardContainer" id="whiteboardContainer" style="overflow:hidden;">		
		<div class="whiteboard" id="whiteboard" style="position:relative;">
			<div class="whiteboardLayout">
				<div class="newsLayout" id="newsLayout">
					<div id="LinkBulletin_Headline_Content" class="bulletinHeaderText">{$Content:LinkBulletin_Headline}</div>
					<div id="LinkBulletinSubhead_Content" class="bulletinSubheadText">{$Content:LinkBulletin_Subhead}</div>
				</div>
				<div id="LinkBulletin_Video_Container"></div>
				<div id="LinkBulletin_Body_Content" class="bulletinText">{$Content:LinkBulletin_Body}</div>
				<div id="LinkBulletin_Illustration_Content" class="bulletinIllustrationImage">{$Content:LinkBulletin_Illustration}</div>
				<div class="continueButtonContainer">
					<div id="Button_Close" class="closeButton">{$Resource:Continue}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--ELEMENT_END:LinkBulletin-->


<!--ELEMENT_START:LinkBulletin_Button-->
<div id="LinkBulletinCode_Button_Element" class="linkBulletinLayout">
		<img class="docLinkImage" id="LinkBulletin{$Content:LinkBulletin_Variety}_Button" onclick="wc.interface.actionHandler.displayLinkBulletin(wc.interface.linkBulletinTypes.{$Content:LinkBulletin_Variety});" src="{$Value:ImagePath}{$Content:LinkBulletin_Variety}.png" border="0" />
</div>
<!--ELEMENT_END:LinkBulletin_Button-->

<!--ELEMENT_START:Survey-->
<div id="Survey_Element{$Content:idSuffix}">
	<div class="chapterSurveyLayout">
		<div id="Survey_Body_Content{$Content:idSuffix}">{$Content:Survey_Body}</div>
		<div>
			<div id="Survey_Choices_Content{$Content:idSuffix}">{$Content:Survey_Choices}</div>
			<div id="Survey_Body_Feedback{$Content:idSuffix}"></div>
			<div class="clear"></div>
		</div>
	</div>
</div>
<!--ELEMENT_END:Survey-->

<!--ELEMENT_START:Survey_TextEssay-->
<div id="Survey_TextEssay_Element">
	<div>
		<label for="Survey_TextEssay_{$Content:questionIndex}">{$Content:Survey_TextEssay_Label}</label>
	</div>
	<textarea onkeyup="wc.interface.actionHandler.survey_TextInputKeyUp(this);" name="Survey_TextEssay" id="Survey_TextEssay_{$Content:questionIndex}" class="textAreaAnswerText"></textarea>
</div>
<!--ELEMENT_END:Survey_TextEssay-->

<!--ELEMENT_START:Survey_Boolean-->
<div id="Survey_Boolean_Element">
	<input type="radio" onclick="wc.interface.actionHandler.survey_BooleanSelected(true, {$Content:questionIndex});" name="Survey_Boolean_{$Content:questionIndex}" id="Survey_Boolean_Yes_{$Content:questionIndex}" />
	<label for="Survey_Boolean_Yes_{$Content:questionIndex}">{$Resource:Yes}</label>
	<div class="clear"></div>
	<input type="radio" onclick="wc.interface.actionHandler.survey_BooleanSelected(false, {$Content:questionIndex});" name="Survey_Boolean_{$Content:questionIndex}" id="Survey_Boolean_No_{$Content:questionIndex}" />
	<label for="Survey_Boolean_No_{$Content:questionIndex}">{$Resource:No}</label>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:Survey_Boolean-->

<!--ELEMENT_START:Survey_TextInput-->
<div id="Survey_TextInput_Element">
	<div>
		<label for="Survey_TextInput_{$Content:questionIndex}_{$Content:Survey_TextInput_Id}">{$Content:Survey_TextInput_Label}</label>
	</div>
	<input type="text" style="width:{$Content:Survey_TextInput_width}px;" onkeyup="wc.interface.actionHandler.survey_TextInputKeyUp(this);" name="Survey_TextInput" id="Survey_TextInput_{$Content:questionIndex}_{$Content:Survey_TextInput_Id}" />
</div>
<!--ELEMENT_END:Survey_TextInput-->

<!--ELEMENT_START:Survey_MultipleChoiceOneAnswer-->
<div id="Survey_MultipleChoiceOneAnswer_Element">
	<input type="radio" onclick="wc.interface.actionHandler.survey_MultipleChoiceOneAnswerSelected({$Content:Survey_MultipleChoiceOneAnswer_Id}, {$Content:questionIndex});" name="{$Content:Survey_MultipleChoiceOneAnswer_Name}" id="Survey_MultipleChoiceOneAnswer_{$Content:questionIndex}_{$Content:Survey_MultipleChoiceOneAnswer_id}" />
	<label for="Survey_MultipleChoiceOneAnswer_{$Content:questionIndex}_{$Content:Survey_MultipleChoiceOneAnswer_id}">{$Content:Survey_MultipleChoiceOneAnswer_Body}</label>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:Survey_MultipleChoiceOneAnswer-->

<!--ELEMENT_START:Survey_MultipleChoiceMultipleAnswer-->
<div id="Survey_MultipleChoiceMultipleAnswer_Element">
	<input type="checkbox" onclick="wc.interface.actionHandler.survey_MultipleChoiceMultipleAnswerSelected({$Content:Survey_MultipleChoiceMultipleAnswer_Id}, {$Content:questionIndex});" name="{$Content:Survey_MultipleChoiceMultipleAnswer_Name}" id="Survey_MultipleChoiceMultipleAnswer_{$Content:questionIndex}_{$Content:Survey_MultipleChoiceMultipleAnswer_id}" />
	<label for="Survey_MultipleChoiceMultipleAnswer_{$Content:questionIndex}_{$Content:Survey_MultipleChoiceMultipleAnswer_id}">{$Content:Survey_MultipleChoiceMultipleAnswer_Body}</label>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:Survey_MultipleChoiceMultipleAnswer-->

<!--ELEMENT_START:Survey_PivotQuestion-->
<div id="Survey_PivotQuestion_Element" class="pivotQuestionLayout">
	<input type="radio" onclick="wc.interface.actionHandler.survey_PivotQuestionSelected({$Content:Survey_PivotQuestion_Id}, {$Content:elementType});" name="{$Content:Survey_PivotQuestion_Name}" id="Survey_PivotQuestion_{$Content:Survey_PivotQuestion_Id}" />
	<label for="Survey_PivotQuestion_{$Content:Survey_PivotQuestion_id}">{$Content:Survey_PivotQuestion_Body}</label>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:Survey_PivotQuestion-->


<!--ELEMENT_START:QuizQuestion-->
<div id="QuizQuestion_Element">
	<div class="chapterHeaderLayout">
		<div id="Chapter_Header_Content" class="chapterHeading">{$Content:Chapter_Header}</div>
		<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
			<div class="audioButton">
				<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
				<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
			</div>
		</div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
		<div class="clear"></div>
	</div>		
	<div class="whiteboardContainer" id="whiteboardContainer" style="overflow:hidden;">
		<div class="whiteboard" id="whiteboard"  style="position:relative;">
			<div class="quizLayout" style="margin-left:auto;margin-right:auto;padding: 20px;">
				<div class="popHeading">{$Resource:PopQuiz}</div>
				<div id="QuizQuestion_Illustration_Content" class="quizIllustration">{$Content:QuizQuestion_Illustration}</div>
				<div id="QuizQuestion_Body_Content">{$Content:QuizQuestion_Body}</div>
				<div>
					<div id="QuizQuestion_Choices_Content" class="answerBody">{$Content:QuizQuestion_Choices}</div>
					<div id="Quiz_Body_Feedback_Container" style="display:none;position: absolute;top: 0px;left: 0px;background-color: #FFFFFF;opacity:.95;-ms-filter: “alpha(opacity=95)”;filter: alpha(opacity=95);height: 100%;width:100%;">
						<div id="QuizQuestion_Body_Feedback_AgreeText" class="agreeText"></div>
						<div id="QuizQuestion_Body_Feedback" class="quizFeedback"></div>
						<!-- 						<div id="" class="tryAgainText"></div> -->
						<div class="tryAgainButton" id="QuizQuestion_Body_Feedback_TryAgain" onclick="wc.interface.actionHandler.quizQuestion_closeFeedbackElement();"></div>
						<div>{$Content:QuizQuestion_Buttons}</div>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!--ELEMENT_END:QuizQuestion-->

<!--ELEMENT_START:QuizQuestion_MultiChoice-->
<div id="QuizQuestion_MultiChoice_Element">
	<input type="checkbox" onclick="wc.interface.actionHandler.quizQuestion_MultiChoiceSelected({$Content:QuizQuestion_MultiChoice_Id}, {$Content:elementType});" name="{$Content:QuizQuestion_MultiChoice_Name}" id="QuizQuestion_MultiChoice_{$Content:QuizQuestion_MultiChoice_Id}" /> <label for="{$Content:QuizQuestion_MultiChoice_id}">{$Content:QuizQuestion_MultiChoice_Label}</label>
</div>
<!--ELEMENT_END:QuizQuestion_MultiChoice-->

<!--ELEMENT_START:QuizQuestion_MultipleChoiceOneAnswer-->
<div id="QuizQuestion_MultipleChoiceOneAnswer_Element">
	<input type="radio" onclick="wc.interface.actionHandler.quizQuestion_MultipleChoiceOneAnswerSelected({$Content:QuizQuestion_MultipleChoiceOneAnswer_Id}, {$Content:elementType});" name="{$Content:QuizQuestion_MultipleChoiceOneAnswer_Name}" id="QuizQuestion_MultipleChoiceOneAnswer_{$Content:QuizQuestion_MultipleChoiceOneAnswer_Id}" />
	<label for="QuizQuestion_MultipleChoiceOneAnswer_{$Content:QuizQuestion_MultipleChoiceOneAnswer_id}">{$Content:QuizQuestion_MultipleChoiceOneAnswer_Body}</label>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:QuizQuestion_MultipleChoiceOneAnswer-->

<!--ELEMENT_START:QuizQuestion_ContinueButton-->
<div class="continueButtonContainer">
	<div id="QuizQuestion_ContinueButton" class="closeButton" disabled="disabled">{$Resource:Continue}</div>
</div>
<!--ELEMENT_END:QuizQuestion_ContinueButton-->


<!--ELEMENT_START:Acknowledgment-->
<div id="Acknowledgment_Element" class="acknowledgmentLayout">
	<div class="chapterHeaderLayout">
		<div id="Acknowledgment_Heading_Content" class="chapterHeading">{$Content:Acknowledgment_Heading}</div>
		<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
		<div class="clear"></div>
	<div class="chalkboard">
		<div id="Acknowledgment_Body_Content" class=chapterDiscussionText">{$Content:Acknowledgment_Body}</div>
		<div id="Acknowledgment_Refusal_Content" style="display:none;padding-bottom:16px;line-height:150%;"></div>
		<div style="text-align:center;">
			<input type="button" onclick="wc.interface.actionHandler.acknowledgmentAgreeButton();" name="Acknowledgment_Agree" id="Acknowledgment_Agree" value="{$Resource:AckAgree}" />
			<input type="button" onclick="wc.interface.actionHandler.acknowledgmentRefusalButton();" name="Acknowledgment_Refusal" id="Acknowledgment_Refusal" value="{$Resource:AckNotAgree}" />
			<input type="button" style="display:none;" onclick="wc.interface.actionHandler.acknowledgmentPreviousButton();" name="Acknowledgment_Previous" id="Acknowledgment_Previous" value="{$Resource:Previous}" />
			<input type="button" style="display:none;" onclick="wc.interface.actionHandler.acknowledgmentConfirmButton();" name="Acknowledgment_Confirm" id="Acknowledgment_Confirm" value="{$Resource:Exit}" />
		</div>
	</div>
	</div>
</div>
<!--ELEMENT_END:Acknowledgment-->

<!--ELEMENT_START:Certificate-->
<div id="Certificate_Element" class="certificateLayout">
	<div>
		<div id="idPrintCertificate" class="certificatePrintLink">
<!--  			<a href="javascript:;" onclick="wc.interface.actionHandler.printCertificate()">{$Resource:PrintThisCertificate}</a>
			<span class="linkSpacer"></span>
 -->			<a id="SurveyAnswers" href="{$Content:SurveyUrl}" target="_new" style="display: inline;">{$Resource:ShowSurveyAnswers}</a>
		</div>
		<table align="center" class="certificateOuterBox"><tr><td>
		<table cellpadding="0" id="CertTable" width="100%" align="center" class="certificateInnerBox">
			<tbody>
				<tr>
					<td valign="top">
						<div class="certificateHeader">{$Resource:CertificateofCompletion}</div>
						<div class="certificateText">{$Resource:Thiswillcertify[$1:<span class="certificateStudentName" id="FirstName"></span> <span class="certificateStudentName" id="LastName"></span>][$2:<div class="certificateProgramName">{$Content:Certificate_ProgramName}</div>][$3:<span id="CurDate"></span>]}</div>
						<div class="certificateText" style="padding-top:12px;">{$Resource:CustomCertificateClause}</div>
						<div class="certificateText">{$Resource:Certifiedby}</div>
						<div id="certLogo" class="certificateLogo"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div></div>
						<p class="certificateCompanyInfo">
							<span class="certificateCompanyName">{$Value:CompanyName}</span><br>
							{$Value:CompanyAddress}<br>
							{$Value:CompanyCity}<br>
						</p>
					</td>
							
						
				</tr>
			</tbody>
		</table>
		</td></tr></table>
<!-- 		<div id="idCloseInstruction" class="certificateInstruction">{$Resource:CertificateInstruction}</div>
 -->		<div id="idOfflineForm" class="certificateOfflineForm" style="display: none">
			<form>
			<div class="certificateOfflineFormInstruction">{$Resource:TrackingInstruction}</div>
			<div class="certificateOfflineFormUsername">
				<input id="idUser" type="text" name="idUser" size="24" focus="true" style="vertical-align: middle"></div>
			<div class="certificateOfflineFormPassword">
				Password:
				<input id="idPassword" type="password" name="idPassword" size="26" style="vertical-align: middle"></div>
			<div class="certificateOfflineFormLink">
				<a id="idMailLink" onclick="javascript:loadOfflineMailHref()" href="javascript:void(0)">
					Send Results</a></div>
			</form>
		</div>
	</div>
</div>
<!--ELEMENT_END:Certificate-->

<!--ELEMENT_START:Bookmark-->
<div class="chapterHeaderLayout">
	<div id="Chapter_Header_Content" class="chapterHeading">&nbsp;</div>
	<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
		<div class="audioButton">
			<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
			<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
		</div>
	</div>
	<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
	<div class="clear"></div>
</div>	
<div id="div0" class="bookmarkSelectionLayout">
	<form name="LMSForm">
		<div align="center" class="bookmarkSelectionBox">
			<div class="bookmarkSelectionInnerBox">
				<div class="modalBoxHeader">{$Value:CourseName}</div>
			<p style="text-align:left;"><span id="spanQuestion">{$Content:Bookmark_Question}</span></p>
			<div>
				<div style="margin-left:12px;text-align:right;float:left;"><input type="Radio" id="bookmark" name="bookmark"/></div>
				<div style="padding-left:38px;text-align:left;"><span id="spanAnswer1">{$Content:Bookmark_Answer1}</span></div>
				<div style="clear:both;padding-bottom:6px;"></div>
			</div>
			<div>
				<div style="margin-left:12px;text-align:right;float:left;"><input type="Radio" id="bookmark" name="bookmark" value="1" /></div>
				<div style="padding-left:38px;text-align:left;"><span id="spanAnswer2">{$Content:Bookmark_Answer2}</span></div>
				<div style="clear:both;padding-bottom:24px;"></div>
			</div>
			<div class="closeButtonContainer">
				<div name="Begin" onClick="wc.interface.actionHandler.bookmarkGoto();" class="beginButton">{$Resource:Begin}</div>
			</div>
			</div>
		</div>
	</form>
</DIV>
<!--ELEMENT_END:Bookmark-->

<!--ELEMENT_START:Game_Choice-->
<div class="chapterHeaderLayout">
	<div id="Chapter_Header_Content" class="chapterHeading">&nbsp;</div>
	<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
		<div class="audioButton">
			<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
			<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
		</div>
	</div>
	<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
	<div class="clear"></div>
</div>	
<div id="Game_Choice_Element" class="gameChoiceBox">
	<div class="gameChoiceOuterBox">
	<div class="gameChoiceInnerBox">
	<div class="modalBoxHeader">
		{$Resource:Quiz}
	</div>
	<div>
		{$Content:Game_Introduction}
	</div>
	<div>
		{$Content:Game_ChoiceItem}
	</div>
	</div>
	</div>
</div>
<!--ELEMENT_END:Game_Choice-->

<!--ELEMENT_START:Game_ChoiceItem-->
<div id="Game_ChoiceItem_Element" class="gameChoiceElement">
	<table cellspacing="4"><tr><td><img src="{$Value:ImagePath}check.gif" border="0" hspace="0" vspace="1" alt="" onclick="wc.interface.actionHandler.displayGameIntro({$Content:GameItem_Id});" /></td>
	<td><a style="color:#3d5f82;" href="javascript:;" onclick="wc.interface.actionHandler.displayGameIntro({$Content:GameItem_Id});" class="gameChoiceItemTitle">{$Content:GameItem_Title}</a>:
	<span>{$Content:GameItem_Body}</span>
	</td></tr></table>
</div>
<!--ELEMENT_END:Game_ChoiceItem-->

<!--ELEMENT_START:LayerWrapper-->
<div class="chapterHeaderLayout">
	<div id="Chapter_Header_Content" class="chapterHeading">&nbsp;</div>
	<div id="Chapter_Audio_Container" class="chapterAudioDivLayout" style="visibility: hidden">
		<div class="audioButton">
				<a id="Button_PlayAudio" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}playAudio.gif" border="0"></a>
				<a id="Button_PauseAudio" style="display: none;" href="javascript:wc.interface.actionHandler.playAudio(true);"><img src="{$Value:ImagePath}pauseAudio.gif" border="0"></a>
		</div>
	</div>
	<div class="chapterLogoLayout"><img src="{$Value:DataFiles}{$Value:CompanyLogo}" alt="{$Value:CompanyName}"></div>
	<div class="clear"></div>
</div>
<div class="whiteboardContainer" id="whiteboardContainer" style="overflow:hidden;">		
	<div class="whiteboard" id="whiteboard" style="position:relative;">
		<div style="margin-left:auto;margin-right:auto;padding:20px;">
			{$Content:LayerContent}
		</div>
	</div>
</div>
<!--ELEMENT_END:LayerWrapper-->

<!--ELEMENT_START:MediaBulletinsList-->
<ul id="Chapter_MediaBulletinsList"></ul>
<!--ELEMENT_END:MediaBulletinsList-->