<!--ELEMENT_START:Quiz_Wrapper-->
<div id="ceoGame">
	<div id="Quiz_GameContent">
		{$Content:quizContent}
	</div>
	<div id="Quiz_Illustration">
		<img src="/wc2/static/training/ceoImages/splash_ceo.gif" style="width:88px;height:327px;" alt="illustration" id="ceoGameOffice" name="ceoGameOffice"/>
	</div>
	<div class="clear"></div>
	<div id="preloadDIV" style="width:10px; display:none;">
		<img src="/wc2/static/training/ceoImages/ceo_f01.gif" width="88" height="386" border="0" alt="illustration"/>
		<img id="preloadCeo1" src="/wc2/static/training/ceoImages/ceo1.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo2" src="/wc2/static/training/ceoImages/ceo2.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo3" src="/wc2/static/training/ceoImages/ceo3.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo4" src="/wc2/static/training/ceoImages/ceo4.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo5" src="/wc2/static/training/ceoImages/ceo5.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo6" src="/wc2/static/training/ceoImages/ceo6.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo7" src="/wc2/static/training/ceoImages/ceo7.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo8" src="/wc2/static/training/ceoImages/ceo8.gif" width="252" height="327" border="0" alt="illustration"/>
		<img id="preloadCeo9" src="/wc2/static/training/ceoImages/ceo9.gif" width="252" height="327" border="0" alt="illustration"/>
	</div>
</div>
<!--ELEMENT_END:Quiz_Wrapper-->

<!--ELEMENT_START:Quiz-->
<div id="Quiz_Element" class="quizLayout">
	<div id="quizLeftPage" class="quizLeftPage" style="">
		<div class="dummy-scroll-wrapper" style="height: 290px;overflow-y: auto;">
			<div id="Quiz_Illustration_Content" class="quizIllustrationCeo" style="display: none;">{$Content:Quiz_Illustration}</div>
			<div id="Quiz_Body_Content" class="questionBodyCeo" style="width: 511px;" tabindex="0">{$Content:Quiz_Body}</div>
				<ul class="quizChoices" id="Quiz_Choices_Content">
					{$Content:Quiz_Choices}
				</ul>	
        </div>
		<div class="buttonsContainer">		
			<a tabindex="0" href="javascript:void(0);" id="Button_Continue" class="closeButton continueButton disabled wc-rectangular-button " onclick="wc.interface.actionHandler.game_answerQuestion();" >{$Content:ContinueResource}</a>	
        </div>
	</div>
	<div class="quizRightPage">
		<div id="Quiz_Body_Feedback_Container" style="display:none;" class="Quiz_Body_Feedback_Container">
			<div tabindex="0" class="agreeText" id="Quiz_Body_Feedback_AgreeText" style="display:none;"></div>
			<div  id="Quiz_Body_Feedback" style="height: 290px;overflow-y: auto;">
				<div tabindex="0" id="Quiz_Body_Feedback_Text" class="quizFeedback"></div>
			</div>	
				<div class="buttonsContainer">	
			<a tabindex="0" href="javascript:void(0);" title="Please try again" id="Quiz_Body_Feedback_TryAgain" class="closeButton continueButton wc-rectangular-button" onclick="wc.interface.actionHandler.game_closeFeedbackElement();"></a>	
			<div id="Quiz_Body_Feedback_ContinueButton" class="continueButton_container buttonsContainer" style="display: none; ">
				<a tabindex="0" href="javascript:void(0);" id="continueBtn" class="closeButton continueButton wc-rectangular-button" onclick="wc.interface.actionHandler.game_gotoNextQuestion()" name="continueBtn">{$Content:ContinueResource}</a>
			</div>
				</div>
			</div>
		</div>
	<div class="clear"></div>
</div>
<!--ELEMENT_END:Quiz-->

<!--ELEMENT_START:Quiz_ChoiceItem-->
<li id="mediaBullet_{$Content:Quiz_ChoiceItem_Id}"
	class="mediaBullet active wc-popquiz-question-wrapper hidden " onclick="wc.interface.elements.quiz.selectAnswer({$Content:Quiz_ChoiceItem_Id}, {$Content:gameIndex});" >
	<p style="" class="bulletContent wc-popquiz-question-content " tabindex="0" onkeydown="if (event.which === 13 || event.charCode === 13 || event.keyCode === 13) wc.interface.elements.quiz.selectAnswer({$Content:Quiz_ChoiceItem_Id}, {$Content:gameIndex});">
		{$Content:Quiz_ChoiceItem_Body}</p>
	<p class="listVerticalAlign">
		.</p>
	<div class="default mediaBullet_select wc-media-bullet-select "></div>
</li>
<!--ELEMENT_END:Quiz_ChoiceItem-->


<!--ELEMENT_START:Quiz_Intro-->
<div class="introWrapper">
	<h3 tabindex="0" class="gameTitle">{$Content:Game_Intro_Name}</h3>
	<div class="gameDescription ">
		<div class="dummy-scroll-wrapper" style="height: 250px;overflow-y: auto;">
			<div tabindex="0" class="gameIntroText courseContent">{$Content:Game_Intro_WelcomeText}</div>			
		</div>
		<div class="buttonsContainer">	
			<a tabindex="0" href="javascript:void(0);" onclick="wc.interface.actionHandler.displayGame({$Content:gameIndex});" class="closeButton continueButton wc-rectangular-button">{$Content:Game_Intro_StartQuizText}</a>
		</div>
	</div>
	<div id="manDIVContainer" style="width:450px;height:15px;position:absolute; left:232px; bottom: 26px;">
			<div id="manDIV" style="position:relative;left:0px;width: 10px; height: 15px; z-index: 2;bottom: 44px;">
				<img id="ceoSplashMan" src="/wc2/static/training/ceoImages/splash_man2.gif" border="0" name="theMan" width="9" height="15" style="height:15px;" alt="" />
			</div>
	</div>
</div>
<!--ELEMENT_END:Quiz_Intro-->
