.Normal {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,0,0);
}

.WarmHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,0,0);
}

.WarmHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,0,0);
}

.WarmSubhead {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,0,0);
}

.WarmBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,0,0);
}

.WarmCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(128,0,0);
}

.CoolHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 24pt;
color: rgb(128,0,128);
}

.CoolHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(0,128,128);
}

.CoolSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,255);
}

.CoolBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(128,0,128);
}

.CoolCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

.ReverseHeading1 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 24pt;
color: rgb(255,255,0);
}

.ReverseHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 18pt;
color: rgb(255,255,255);
}

.ReverseSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 14pt;
color: rgb(255,255,0);
}

.ReverseBodyText {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(255,255,255);
}

.ReverseCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,255);
}

.BasicHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(0,0,0);
}

.BasicHeading2 {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 800;
font-size: 18pt;
color: rgb(128,128,128);
}

.BasicSubhead {
font-family: Times New Roman, serif;
font-style: normal;
font-weight: 400;
font-size: 14pt;
color: rgb(0,0,0);
}

.BasicBodyText {
font-family: Verdana, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(0,0,0);
}

.BasicCaption {
font-family: Verdana, serif;
font-style: normal;
font-weight: 700;
font-size: 10pt;
color: rgb(128,0,0);
}

.OceanHeading1 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,128,128);
}

.OceanHeading2 {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 14pt;
color: rgb(0,128,0);
}

.OceanSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 800;
font-size: 12pt;
color: rgb(0,0,128);
}

.OceanBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(0,128,128);
}

.OceanCaption {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,0,255);
}

.BrightHeading1 {
font-family: Arial, serif;
font-style: italic;
font-weight: 800;
font-size: 24pt;
color: rgb(0,255,255);
}

.BrightHeading2 {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 18pt;
color: rgb(0,255,0);
}

.BrightSubhead {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 12pt;
color: rgb(0,255,255);
}

.BrightBodyText {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 10pt;
color: rgb(255,255,0);
}

.BrightCaption {
font-family: Times New Roman, serif;
font-style: italic;
font-weight: 800;
font-size: 10pt;
color: rgb(0,255,0);
}

.LinkColor {
text-decoration: none ;
color: rgb(0,0,64);
}

.VLinkColor {
text-decoration: none ;
text-align: left;
color: rgb(0,64,128);
}

.ALinkColor {
text-decoration: none ;
text-align: left;
color: rgb(0,0,128);
}

.HLinkColor {
text-decoration: none ;
text-align: left;
color: rgb(128,0,64);
}

.FixedWidthFont {
font-family: Courier New, serif;
font-size: 10pt;
}

.DBCUSTOMSTYLE1 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE2 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE3 {
color: rgb(128,0,128);
}

.DBCUSTOMSTYLE4 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE5 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE6 {
color: rgb(128,0,128);
}

.DBCUSTOMSTYLE7 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE8 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE9 {
color: rgb(128,0,128);
}

.DBCUSTOMSTYLE10 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE11 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE12 {
color: rgb(128,0,128);
}

.DBCUSTOMSTYLE13 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE14 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE15 {
color: rgb(128,0,128);
}

.DBCUSTOMSTYLE16 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE17 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE18 {
color: rgb(128,0,128);
}

.DBCUSTOMSTYLE19 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE20 {
color: rgb(0,0,255);
}

.DBCUSTOMSTYLE21 {
color: rgb(128,0,128);
}

.Smalllist {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: xx-small;
text-align: left;
color: rgb(0,0,0);
}

.Index {
font-family: Arial, serif;
font-style: normal;
font-weight: 400;
font-size: 8pt;
color: rgb(0,0,0);
}

B { font-weight:bold }

SPAN.DecorationOff { text-decoration:none }
SPAN.ItalicOff { font-style:normal }
SPAN.BoldOff { font-weight:normal }
SPAN.DecorationAndItalicOff { text-decoration:none; font-style:normal }
SPAN.DecorationAndBoldOff { text-decoration:none; font-weight:normal }
SPAN.ItalicAndBoldOff { font-style:normal; font-weight:normal }
SPAN.AllOff { text-decoration:none; font-style:normal; font-weight:normal }

