
.memorandumDiscussionLayout {
    color: white;
    height: 400px;
    margin-bottom: 0px;
    overflow-y: auto;
}

.chapterLogoLayout img {
  height: 42px;
}

.quizLayout {

height: 500px;
overflow-y: auto;
}



.whiteboard {
overflow-y: auto;
}


.chapterDivLayoutMemorandum
{
margin-top: -33px;
}
.chapterHeading
{
font-size: 14pt;
}
.memorandumLayout
{
width: 690px;
}


#Acknowledgment_Body_Content {
height: 460px;
overflow-y: auto;
}