body
{
	font-family : Book Antiqua;
	font-size: 11pt;
}

.headingText
{
               font-family : Frutiger,Arial;
}


p
{
	font-size : 11pt;
}

blockquote
{
	font-size : 11pt;
}

h3
{
	padding-top : 10px;
                font-size : 12pt;
}


h4
{
                font-size : 10.5pt;
}


.termText P
{
               font-size : 10.5pt;
}

.termBody P
{
                font-size : 10.5pt;
}

.bulletinText
{
	margin-left: 16px;
	margin-right: 24px;
	font-family: times new roman;
	font-size : 11pt;
}


.bulletinImage
{
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: -7px;
}


.popQuestionBody
{
	background-color: #eeeeee;
                font-family: Arial;
                font-size: 10pt;
}


.popQuestionQuestion
{
               margin-bottom : 8px;
}


.popQuestionBody TD
{
               font-family: Arial;
               font-size: 10pt;
}


.agreeText
{
	font-family : Arial
	font-size : 10pt;
}

.disagreeText
{
	font-family : Arial
	font-size : 10pt;
}

.finalAgreeText
{
	font-family : Arial
	font-size : 10pt;
}

.finalDisagreeText
{
	font-family : Arial
	font-size : 10pt;
}

.questionBody
{
	font-size : 10pt;
	font-family : Arial
}

.answerBody
{
	font-family : Arial
                font-size : 10pt;
}
